.icon
{
  
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 14px;
    box-shadow: 0px 3px 6px #00000029;
    color: #3E44A8;
    padding: 10px;
    margin-right: 12px;
    
   
}