.form
{
    height: 480px;
    width: 100vw;
}

.form .row
{
    height: 100%;
    /* width: 1222px; */
    align-items: center;
  
}

.form .row .instructions
{
  
    display: flex;
   justify-content: center;
 
    flex-direction: column;

    /* order: 1; */
/* flex-grow: 0; */
width: 496px;
/* height: 228px; */
/* margin: 0px 128px; */

}
.form .row .instructions h2
{
    font-style: normal;
font-weight: 500;
font-size: 40px;
}

.form .row .instructions p{

    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
}
.form .row .instructions .icon {
    font-size: 35px;
}

.form .row .inputs
{
   height: 100%;
   background-color: #BFE1FF;
   width: 600px;
display: flex;
flex-direction: column;

justify-content: center;

}

.form .row .inputs input{
    border-radius: 8px;
    border: none;
    outline: none;
    
    padding: 18px 15px;
    margin: 30px 100px;
   
    font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 32px;
    
}

