.hero
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 420px!important;
  
}

@media (max-width: 576px)
{
    .hero{
        width: 343px!important;
height: 486px!important;
    }
    .hero .row .second img {
        width: 343px!important;
        height: 240px!important;
    }

}
@media (max-width: 576px)
{

}
@media (min-width: 576px){
    .hero
    {
        /* display: flex!important; 
        align-items: center!important;
        justify-content: center!important;  */
        height: 420px!important;
      
    }

    .second img{
        width: 600px!important;
    height: 420px!important;
    }
    
}


.hero .row .first h1
{
    margin-top: 30px;
/* font-family: Roboto; */
font-style: normal;

font-weight: 500;
font-size: 48px;
line-height: 130%;

/* or 62px */
/* 
display: flex;
align-items: flex-end; */

color: #000000;
}

.hero .row .first p{
    
/* font-family: Roboto; */
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 150%;
/* or 30px */
/* 
display: flex;
align-items: flex-end; */

color: #000000;
margin-top: 20px!important;
}


.hero .row button
{
    margin-top: 15px;
    
    background: #F2707C!important;
border-radius: 4px!important;
color: #ffffff;
border: none;
outline: none;
border-radius: 25px!important;

}

