.reward
{
 
width: 100vw;
height: 608px;
left: 0px;


background: #FFE4E7;

display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 0px;
}

.reward .row
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1224px;
    height: 480px;


}

.reward .row .reward__description h1
{
    
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 150%;
}

.reward .row .reward__description p{

    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;

}

.reward .row .reward__description .reward__icon
{
    color: #FF808E;

}